.products-grid-container .grid {
    gap: 0rem;
  }
  
  .products-card .card {
    width: 100%;
    transition: all 0.3s ease;
    overflow: hidden;
    cursor: pointer;
    border: 1px solid var(--gray-50);
    border-radius: 0;
  }
  
  .products-card .card-header {
    height: 240px;
  }
  
  .products-card .card-header img {
    object-fit: contain;
  }
  
  .products-card .card-with-badge .card-badge {
    color: var(--white);
    background: var(--red);
  }
  
  .products-card .card-floating-icon span.icon-active {
    color: var(--red);
  }
  
  .card-floating-icon span.icon-active {
    color: var(--red);
  }
  
  
  .products-card .card-with-badge .card-title {
    font-size: 1rem;
  }
  
  .products-card .card-with-badge .brand-title {
    font-size: 0.8rem;
    color: var(--gray-500);
  }
  
  .brand-star-container {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  
  .rating {
    display: flex;
    align-items: center;
    font-size: 12px;
    background: var(--gray-50);
    padding: 0 5px;
    gap: 4px;
    border-radius: 4px;
  }
  
  .rating .star-icon {
    color: var(--rating-orange);
  }
  
  .rating span {
    display: inline-flex;
    color: var(--gray-600);
    font-weight: 500;
  }
  
  .products-card .price-after-discount {
    font-size: 0.85rem;
  }
  
  .products-card .card-price > :is(.price-before-discount, .discount) {
    font-size: 0.65rem;
  }
  
  .products-card .card-price .price-before-discount {
    margin-left: 0.3em;
  }
  
  .products-card .card-price .discount {
    margin-left: 0.4em;
  }
  
  .products-card .card-body {
    padding: 0.5rem 1rem;
  }
  
  @media only screen and (min-width: 768px) {
    .products-card .card {
      border: 1px solid var(--gray-100);
    }
    .products-grid-container .grid {
      gap: 1rem;
    }
    .products-grid-container .grid-col-2 {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }
  }
  
  @media only screen and (min-width: 1024px) {
    .products-grid-container .grid {
      gap: 1rem;
    }
    .products-grid-container .grid-col-2 {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }
  
    .products-container {
      display: flex;
      position: relative;
      padding: 0;
    }
  
    .products-grid-container {
      margin: 0 0 4rem 0;
    }
  
    .products-section {
      margin: 8rem 2rem 0;
    }
    .products-card .card-with-badge .card-title {
      font-size: 1rem;
      color: var(--gray-800);
    }
  
    .products-card .price-after-discount {
      font-size: 1rem;
    }
  
    .products-card .card-price > :is(.price-before-discount, .discount) {
      font-size: 0.85rem;
    }
  }
  
  @media only screen and (min-width: 1280px) {
    .products-grid-container .grid {
      gap: 1rem;
    }
    .products-grid-container .grid-col-2 {
      grid-template-columns: repeat(4, minmax(250px, 1fr));
    }
  }