@import "../../index.css";

.hero {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 16px;
  padding: 1rem;
  background: var(--gray-50);
  margin-top: 4.5rem;
}

.hero .hero-img img {
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.hero-content {
  padding-top: 1rem;
  padding-right: 1rem;
  order: 2;
}

.hero-img {
  order: 1;
}

.hero-title {
  color: var(--gray-600);
}

.hero-description {
  font-size: 0.85rem;
  padding-top: 0.8rem;
  color: var(--gray-600);
}

.hero-btn {
  margin: 2rem 0;
}

@media only screen and (max-width: 900px) {
  .hero-title {
    font-size: 1.8rem;
  }
  .hero-content {
    padding: 0rem 1.5rem;
    text-align: center;
  }
}

@media only screen and (min-width: 768px) {
  .hero {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    margin-top: 5rem;
  }

  .hero-img {
    order: 2;
  }

  .hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    order: 1;
  }

  .hero-title {
    line-height: 1.4;
  }
  .hero-description {
    font-size: 0.85rem;
  }
  .hero-btn {
    margin: 2rem 0 0 0;
  }
}

@media only screen and (min-width: 1024px) {
  .hero {
    flex-direction: row-reverse;
    padding: 3rem;
  }
  .hero-content {
    text-align: left;
  }
  .hero-title {
    font-size: 2.5rem;
  }
  .hero-description {
    font-size: 1.2rem;
  }
  .hero-btn {
    margin: 4rem 0 0 0;
  }
}

@media only screen and (min-width: 1280px) {
  .hero {
    flex-direction: row-reverse;
    padding: 4rem;
  }
  .hero-content {
    text-align: left;
  }
  .hero-title {
    font-size: 3rem;
  }
  .hero-description {
    font-size: 1.2rem;
  }
}
