.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 1rem;
    margin-top: 2rem;
    background: var(--gray-100);
    color: var(--gray-800);
  }
  
  .footer-social-icons {
    display: flex;
    gap: 24px;
  }
  
  .footer-social-icons .link {
    color: var(--gray-800);
  }
  
  .footer-social-icons .link .social-icon {
    font-size: 20px;
  }