@import "../../index.css";

.card {
  width: 100%;
  transition: all 0.3s ease;
  border: 1px solid var(--gray-300);
  overflow: hidden;
  cursor: pointer;
}

.category-card .card .card-title {
  color: var(--grey);
  font-size: 1rem;
}

.category-container .card:hover .card-title {
  color: var(--primary-color);
}

@media only screen and (min-width: 768px) {
  .category-container .grid-col-2 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media only screen and (min-width: 1024px) {
  .category-container .grid-col-2 {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }
}